<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Vue Cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- cdn tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- fa -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body class="bg-gradient-to-r from-cyan-500 to-blue-500">
    <div class="container w75 h-screen mx-auto grid place-items-center">
      <div
        class="w-5/6 rounded-xl bg-gray-300 overflow-hidden shadow-blue-700 shadow-lg"
        id="app"
      >
        <!-- titolo app -->
        <h1 class="text-center py-4 text-3xl">ToDo List</h1>
        <!-- form -->
        <form class="text-center py-4 bg-blue-700">
          <input
            required
            placeholder="Inserisci nuova task..."
            class="py-1 rounded-lg px-2 w-2/3"
            type="text"
            name="Inserisci nuovo todo"
            v-model="userInput"
          />
          <button
            class="ml-3 px-3 py-1 bg-gray-100 rounded-lg hover:scale-125 ease-in-out duration-100"
            @click.prevent="pushTodo()"
          >
            <i class="fa-solid fa-circle-plus text-blue-700"></i>
          </button>
        </form>
        <!-- lista dei todo -->
        <ul
          v-if="todos.length > 0"
          class="pt-2 divide-y divide-blue-700 divide-y-2"
        >
          <li
            class="px-4 py-2 flex justify-between items-center text-lg"
            @click="todo.completed = !todo.completed"
            v-for="(todo,index) in todos"
          >
            <span :class="{'line-through' : todo.completed}">
              {{todo.text}}</span
            ><i
              class="fa-solid fa-circle-xmark hover:text-red-600 hover:scale-125 ease-in-out duration-200"
              @click="removeTodo(index)"
            ></i>
          </li>
        </ul>
        <div v-else="" class="text-center py-2">
          Inserisci una Task per continuare
        </div>
      </div>
    </div>
    <!-- my script  -->
    <script src="js/main.js"></script>
  </body>
</html>
